.latestRow {
  text-align: left;
}
.latestRow__videosWrapper {
  display: flex;
  overflow-y: hidden;
  /* overflow-x: hidden; */
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */

  justify-content: start;
  align-items: center;
}
