.signup {
  margin-top: 10vh;
  height: 94vh;
}

.signup {
  padding-top: 15vh;
  height: 64vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  margin: auto;
}

.signup__inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  position: relative;
  height: 35%;
}

.signup__input {
  padding: 8px 32px;
  width: 100%;
}

.signup__btn {
  padding: 8px 16px;
  border-radius: 8px;
  outline: unset;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.signup__btn:hover {
  background: white;
  color: #2d2d2d;
}

@media screen and (max-width: 765px) {
  .signup__inputContainer {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .signup__inputContainer {
    width: 60%;
  }
}
