.homepage {
  /* margin-top: 10vh; */
  text-align: left;
}
.homepage__banner {
  position: relative;
  color: white;
  height: 75vh;
  object-fit: contain;
  background-size: cover;
  background-position: "center center";
  background-attachment: fixed;
}
.homepage__bannerContent {
  margin-left: 30px;
  padding-top: 23vh;
  height: 190px;
}
.homepage__bannerTitle {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  margin-left: 0;
}
.homepage__bannerDiscription {
  width: 45rem;
  line-height: 1.3rem;
  font-size: 0.8rem;
  padding-top: 1rem;
  max-width: 360px;
  height: 80px;
}
.fade--bottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #2d2d2d
  );
}
.homepage__bannerButton {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.homepage__bannerButton:hover {
  color: #000;
  background-color: var(--homepage-banner-btn-clr);
  transition: var(--homepage-banner-btn-bg);
}
